jupyterlab
ipywidgets
widgetsnbextension
pandas-profiling

transformers
datasets
pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
torch
torchvision
torchview
graphviz
tensorboard
lightning
nltk
gensim

## other project dependencies
